{% extends 'base.html' %}
{% block titulo %} FITX {% endblock %}

{% block content %}
<div class="container p-4">
    <h1 class="mb-6 text-3xl" id="registro-titulo">INICIA SESIÓN</h1>
    <form method="POST" class="p-5">
        {% csrf_token %}

        <div class="mb-3">
            <label>Correo electrónico</label>
            {{ form.username}}
        </div>
        <div class="mb-3">
            <label>Contraseña</label>
            {{ form.password}}
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Inicia Sesión</button>
    </form>
</div>
{% endblock %}
